img.card-img-top {
    width: 35%;
}

.modal{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 200px;
    display: none;
}

.contenidoModal{
    background-color: #FFFFFF;
    width: 53%;
    position: relative;
    padding: 1rem;
    margin-left: 23.5%;
    border-radius: 10px 10px 10px 10px;
    border-top: 10px solid #287bff;
}

.card__item {
    padding: 20px;
    background: rgb(210, 229, 247);
    border-top: 5px solid #287bff;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25em;
    width: 45%;
}

.contenidoModal .termino {
    width: 100%;
    margin-bottom: 5%;
}

/*Botones Modal*/
#calcularPC {
    width: 7em;
    padding: 1rem;
    margin-left: 13px;
}
#calcularAC {
    width: 7em;
    padding: 1rem;
    margin-left: 13px;
}
#calcularPT {
    width: 7em;
    padding: 1rem;
    margin-left: 13px;
}
#calcularAT {
    width: 7em;
    padding: 1rem;
    margin-left: 13px;
}
#calcularPCu {
    width: 7em;
    padding: 1rem;
    margin-left: 13px;
}
#calcularACu {
    width: 7em;
    padding: 1rem;
    margin-left: 13px;
}
#calcularPR {
    width: 7em;
    padding: 1rem;
    margin-left: 13px;
}
#calcularAR {
    width: 7em;
    padding: 1rem;
    margin-left: 13px;
}
.tama{
    margin-left: 3px;
}














/*Cerrar modal circulo*/
.cerrarModalC{
    font-size: 2rem;
    float: right;  
}

.cerrarModalC:hover{
    cursor: pointer;
}


.cerrarModal{
    font-size: 2rem;
    float: right;  
}

.cerrarModal:hover{
    cursor: pointer;
}


/*Cerrar modal triangulo*/
.cerrarModalTri{
    font-size: 2rem;
    float: right;  
}

.cerrarModalTri:hover{
    cursor: pointer;
}

.cerrarModalTri2{
    font-size: 2rem;
    float: right;  
}

.cerrarModalTri2:hover{
    cursor: pointer;
}

/*Cerrar modal cuadrado*/
.cerrarModalCua{
    font-size: 2rem;
    float: right;  
}

.cerrarModalCua:hover{
    cursor: pointer;
}

.cerrarModalCua2{
    font-size: 2rem;
    float: right;  
}

.cerrarModalCua2:hover{
    cursor: pointer;
}


/*Cerrar modal rectangulo*/
.cerrarModalRec{
    font-size: 2rem;
    float: right;  
}

.cerrarModalRec:hover{
    cursor: pointer;
}

.cerrarModalRec2{
    font-size: 2rem;
    float: right;  
}

.cerrarModalRec2:hover{
    cursor: pointer;
}
