.contenedor{
    width:345px;
}

.form-control {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 #5692ed;
    box-shadow: 0 10px 30px 0 #56b1ed;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 90%;
}

.button{
    background-color: #287bff;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
}

#container{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    margin-top: 8%;
}

.imgTri{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
}

#container1{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    margin-top: 2%;
}

#centrar{
    text-align: center;
    color: black;
}