*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active
{
    width: 80px;
}

.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white) ;
}

.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a
{
    position:relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: var(--blue);
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}

.navigation ul li a .title
{
    position:relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
} 

.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search
{
    position: relative;
    width: 400px;
    margin-top: 2%;
}

.search label
{
    position: relative;
    width: 100%;
}

.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user
{
    position: relative;
    top: 30%;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}

.user img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input[type=text] {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 #5692ed;
    box-shadow: 0 10px 30px 0 #56b1ed;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button{
    background-color: #287bff;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 hsla(214, 71%, 38%, 0.479);
    box-shadow: 0 10px 30px 0 hsla(214, 81%, 63%, 0.623);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#container{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    margin-top: 8%;
}

#container1{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 auto;
    margin-top: 2%;
}

#enunciado{
    margin-top: 3%;
}

#label{
    margin: 0 auto;
}

.imgP{
    width: 40%;
    margin: 0 auto;
    margin-top: -5%;
}

@media (max-width: 991px){
    
    .navigation
    {
        left: -300px;
    }
    .navigation.active
    {
        width: 300px;
        left: 0;
    }
    .main
    {
        width: 100%;
        left: 0;
    }
    .main.active {
        left: 250px;
    }
}

@media (max-width: 410px){
    .user{
        min-width: 40px;
    }
    .user img{
        display: none;
     }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 23em;
    }
    .button {
        margin-left: -64%;
        width: 18em;
    }
    

}

@media (min-width:411px) and (max-width:470px){
    .user{
        min-width: 40px;
    }
    .user img{
        display: none;
     }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 27em;
    }
    .button {
        margin-left: -50%;
        width: 19em;
    }
    
}

@media (min-width:471px) and (max-width:483px){
    .user{
        min-width: 40px;
    }
    .user img{
        display: none;
     }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 27em;
    }
    .button {
        margin-left: -50%;
        width: 19em;
    }
    
}

@media (min-width:484px) and (max-width:499px){
    .user{
        min-width: 40px;
    }
    .user img{
        display: none;
     }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 27em;
    }
    .button {
        margin-left: -50%;
        width: 19em;
    }
    
}

@media (min-width:500px) and (max-width:569px){
    .user{
        min-width: 40px;
    }
    .user img{
        display: none;
    }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 30em;
    }
    .button {
        margin-left: -50%;
        width: 19em;
    }
    
}

@media (min-width:570px) and (max-width:600px){
    .user{
        min-width: 40px;
    }
    .user img{
        display: none;
    }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 33em;
    }
    .button {
        margin-left: -40%;
        width: 19em;
    }
    
}

@media (min-width:601px) and (max-width:630px){
    .user{
        min-width: 40px;
    }
    .user img{
        display: none;
    }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 35em;
    }
    .button {
        margin-left: -40%;
        width: 20em;
    }
    
}


@media (min-width:631px) and (max-width:670px){
    .user{
        min-width: 40px;
    }
    .user img{
        display: none;
    }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 35em;
    }
    .button {
        margin-left: -40%;
        width: 20em;
    }
    
}

@media (min-width:671px) and (max-width:800px){
    .user{
        min-width: 40px;
    }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 46em;
    }
    .button {
        margin-left: -40%;
        width: 27em;
    }
    
}


@media (min-width:801px) and (max-width:900px){
    .user{
        min-width: 40px;
    }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 51em;
    }
    .button {
        margin-left: -40%;
        width: 30em;
    }
    
}

@media (min-width:901px) and (max-width:991px){
    .user{
        min-width: 40px;
    }
    .navigation
    {
        width: 100%;
        left: 100%;
        z-index: 1000;
    }
    .navigation.active
    {
        width: 100%;
        left: 0;
    }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        right: 1;
        left: 55%;
        color: var(--white);
    }
    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 100%;
        margin: 0 auto;
        margin-top: 30%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -100%;
        width: 56em;
    }
    .button {
        margin-left: -40%;
        width: 33em;
    }
    
}

@media (min-width:992px) and (max-width:1000px){
    .user{
        min-width: 40px;
    }
     .navigation
     {
         position: fixed;
         width: 300px;
         height: 100%;
         background: var(--blue);
         border-left: 10px solid var(--blue);
         transition: 0.5s;
         overflow: hidden;
     }

     .navigation ul li
     {
         position: relative;
         width: 100%;
         list-style: none;
         border-top-left-radius: 30px;
         border-bottom-left-radius: 30px;
     }
     
     .navigation ul li:hover,
     .navigation ul li.hovered
     {
         background: var(--white) ;
     }
     
     .navigation ul li:nth-child(1)
     {
         margin-bottom: 40px;
         pointer-events: none;
     }
     
     .navigation ul li a
     {
         position:relative;
         display: block;
         width: 100%;
         display: flex;
         text-decoration: none;
         color: var(--white);
     }
     
     .navigation ul li:hover a,
     .navigation ul li.hovered a
     {
         color: var(--blue);
     }
     
     .navigation ul li a .icon
     {
         position: relative;
         display: block;
         min-width: 60px;
         height: 60px;
         line-height: 70px;
         text-align: center;
     }
     
     .navigation ul li a .icon ion-icon
     {
         font-size: 1.75em;
     }
     
     .navigation ul li a .title
     {
         position:relative;
         display: block;
         padding: 0 10px;
         height: 60px;
         line-height: 60px;
         text-align: start;
         white-space: nowrap;
     }
     
     .navigation ul li:hover a::before,
     .navigation ul li.hovered a::before
     {
         content: '';
         position: absolute;
         right: 0;
         top: -50px;
         width: 50px;
         height: 50px;
         background: transparent;
         border-radius: 50%;
         box-shadow: 35px 35px 0 10px var(--white);
         pointer-events: none;
     }
     
     .navigation ul li:hover a::after,
     .navigation ul li.hovered a::after
     {
         content: '';
         position: absolute;
         right: 0;
         bottom: -50px;
         width: 50px;
         height: 50px;
         background: transparent;
         border-radius: 50%;
         box-shadow: 35px -35px 0 10px var(--white);
         pointer-events: none;
     }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        position: fixed;
        left: 8%;
        color: #000;
    }

    .main.active #enunciado{
        margin-left: -25%;
        margin-top: -5%;
    }

    .main.active #padre{
        margin-left: -18%;
        margin-top: -6%;
    }

    .main.active .search label input{
        margin-left: 45%;
    }

    .main.active .search label input{
        margin-left: 45%;
    }

    .main.active .icono{
        margin-left: 31%;
    }

    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 75%;
        margin: 0 auto;
        margin-left: 24%;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -85%;
        width: 37em;
    }
    .button {
        margin-left: -55%;
        width: 30em;
    }
    .main.active .button {
        margin-left: -9%;
        width: 30em;
    }
    
}

@media (min-width:1001px) and (max-width:1100px){
    .user{
        min-width: 40px;
    }
     .navigation
     {
         position: fixed;
         width: 300px;
         height: 100%;
         background: var(--blue);
         border-left: 10px solid var(--blue);
         transition: 0.5s;
         overflow: hidden;
     }

     .navigation ul li
     {
         position: relative;
         width: 100%;
         list-style: none;
         border-top-left-radius: 30px;
         border-bottom-left-radius: 30px;
     }
     
     .navigation ul li:hover,
     .navigation ul li.hovered
     {
         background: var(--white) ;
     }
     
     .navigation ul li:nth-child(1)
     {
         margin-bottom: 40px;
         pointer-events: none;
     }
     
     .navigation ul li a
     {
         position:relative;
         display: block;
         width: 100%;
         display: flex;
         text-decoration: none;
         color: var(--white);
     }
     
     .navigation ul li:hover a,
     .navigation ul li.hovered a
     {
         color: var(--blue);
     }
     
     .navigation ul li a .icon
     {
         position: relative;
         display: block;
         min-width: 60px;
         height: 60px;
         line-height: 70px;
         text-align: center;
     }
     
     .navigation ul li a .icon ion-icon
     {
         font-size: 1.75em;
     }
     
     .navigation ul li a .title
     {
         position:relative;
         display: block;
         padding: 0 10px;
         height: 60px;
         line-height: 60px;
         text-align: start;
         white-space: nowrap;
     }
     
     .navigation ul li:hover a::before,
     .navigation ul li.hovered a::before
     {
         content: '';
         position: absolute;
         right: 0;
         top: -50px;
         width: 50px;
         height: 50px;
         background: transparent;
         border-radius: 50%;
         box-shadow: 35px 35px 0 10px var(--white);
         pointer-events: none;
     }
     
     .navigation ul li:hover a::after,
     .navigation ul li.hovered a::after
     {
         content: '';
         position: absolute;
         right: 0;
         bottom: -50px;
         width: 50px;
         height: 50px;
         background: transparent;
         border-radius: 50%;
         box-shadow: 35px -35px 0 10px var(--white);
         pointer-events: none;
     }
    .toggle
    {
        z-index: 10001;
    }
    .main.active .toggle
    {
        left: 1.5%;
        color: #000;
    }

    .main.active #enunciado{
        margin-left: -25%;
        margin-top: -5%;
    }

    .main.active #padre{
        margin-left: -18%;
        margin-top: -6%;
    }

    .main.active .search label input{
        margin-left: 7%;
    }

    .main.active .icono{
        margin-left: 7%;
    }

    .search label input {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        padding: 5px 20px;
        padding-left: 35px;
        font-size: 18px;
        outline: none;
        border: 1px solid var(--black2);
        margin-left: 12%;
    }
    .icono{
        margin-left: 11%;
    }
    .imgP {
        width: 75%;
        margin: 0 auto;
        margin-left: 24%;
        margin-top: 20%;
        margin-bottom: 10%;
    }
    #enunciado {
        margin-top: 10%;
        margin-left: -63%;
        width: 37em; 
    }
    .button {
        margin-left: -41%;
        width: 30em;
    }
    .main.active .button {
        margin-left: -9%;
        width: 30em;
    }
    
}